// general css

body {
  background: #001b21;
  color: rgba(255,255,255,0.7);

  & > .site-bg-item {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-position: 50% 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Sniglet', sans-serif;
  color: rgba(255,255,255,0.7);
}



#bg-main {
  background: #001b21 url('/assets/img/bg/001/1920x1080.jpg') repeat-x 0 0;
}

#bg-overlay {
  background: rgba(87, 114, 126, 0.54);
}

.container {
  &.container-main {
    display: block;
    padding:1rem 0;
    min-height: 660px;
    @include clearfix;



  }
}

.site-header-main {
  display: block;
  text-align: center;

  .header-main {
    display: block;
    text-align: center;
    margin:2.5rem 0 1rem;
      a {
        text-decoration: none;
        font-weight: 300;
        font-size: 3rem;
        text-transform: uppercase;
        color:#FDFDFD;

        .logo-stack {
          font-size: 0.9em;
          margin-right: 15px;
        }

      }
  }
}

.logo-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;

  font-size: 0.9em;
  margin-right: 15px;

  & > .fa-circle {
    font-size: 1.55em;
    line-height: inherit;
    color: #CBFDD3;
  }

  & > .fa-globe{
    font-size: 1.67em;
    line-height: inherit;
    color: #5D90B5;
  }

  & > .fa-flag {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    line-height: inherit;

    &.logo-flag1 {
      color: #FAE599;
      left: 31%;
      top: -25%;
      font-size: 0.7em;
      // filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
      -webkit-transform: rotate(14deg);
      -moz-transform: rotate(14deg);
      -ms-transform: rotate(14deg);
      -o-transform: rotate(14deg);
      transform: rotate(14deg);
    }

    &.logo-flag2 {
      color: #FABD99;
      left: -35%;
      top: -15%;
      font-size: 0.6em;
      -moz-transform: scaleX(-1) rotate(21deg);
      -o-transform: scaleX(-1) rotate(21deg);
      -webkit-transform: scaleX(-1) rotate(21deg);
      transform: scaleX(-1) rotate(21deg);
      filter: FlipH;
      -ms-filter: "FlipH";
    }

    &.logo-flag3 {
      color: #4A4A4A;
      left: 20%;
      top: 10%;
      font-size: 0.32em;
      // filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
      -webkit-transform: rotate(5deg);
      -moz-transform: rotate(5deg);
      -ms-transform: rotate(5deg);
      -o-transform: rotate(5deg);
      transform: rotate(5deg);
    }
  }
}

#fotw-search-main {
  margin-top: 0;
  margin-bottom: 1rem;
  padding-top: 0.2rem;

  .searchfield {
    padding:2rem 0 1rem;

    form {

      input {
        &[name="s"]{
          font-size: 3rem;
          height: 4rem;
          background-color:rgba(255, 255, 255, 0.15);
          border-color:rgba(204, 204, 204, 0.08);
          color:rgba(204, 204, 204, 1);
          border-radius:3px;
        }

        &::-webkit-input-placeholder {
          color: rgba(204, 204, 204, 0.5);
          opacity: 0.6;
        }

        &:-moz-placeholder { /* Firefox 18- */
          color: rgba(204, 204, 204, 0.5);
          opacity: 0.6;
        }

        &::-moz-placeholder { /* Firefox 19+ */
          color: rgba(204, 204, 204, 0.5);
          opacity: 0.6;
        }

        &:-ms-input-placeholder {
          color: rgba(204, 204, 204, 0.5);
          opacity: 0.6;
        }

      }


    }
  }
}

#fotw-results-main {
  display: block;
  position: relative;
  @include clearfix;

  > .results-loader {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 3px;
    display: none;

    &.in {
      display: block;
      background: rgba(255,255,255,0.22);
    }

  }

  .no-items-wrap {
    display: block;
    padding:1rem;

    .no-items-header {
      display: block;
      text-align: center;
    }

  }
  .items-wrap{
    display: block;
    @include clearfix;

    &.show-titles {
      .flag-item-wrap {
        .flag-title-wrap {
          display: block;
        }
      }
    }

    &.across-5 {
      .flag-item-wrap {
        width:20%;

        &:nth-child(5n+1){
          clear:both;
        }
        .flag-img-wrap { height: 300px; }
        .flag-title-wrap { font-size: 1.2rem }
      }
    }

    &.across-10 {
      .flag-item-wrap {
        width:10%;

        &:nth-child(10n+1){
          clear:both;
        }

        .flag-img-wrap { height: 140px; }
        .flag-title-wrap { font-size: 1rem }
      }
    }

    &.across-15 {
      .flag-item-wrap {
        width:6.66666667%;

        &:nth-child(15n+1){
          clear:both;
        }

        .flag-img-wrap { height: 90px; }
        .flag-title-wrap { font-size: 0.8rem }
      }
    }

    &.across-16 {
      .flag-item-wrap {
        width:6.25%;

        &:nth-child(16n+1){
          clear:both;
        }

        .flag-img-wrap { height: 75px; }
        .flag-title-wrap { font-size: 0.8rem }
      }
    }

    &.across-20 {
      .flag-item-wrap {
        width:5%;

        &:nth-child(20n+1){
          clear:both;
        }

        .flag-img-wrap { height: 60px; }
        .flag-title-wrap { font-size: 0.6rem }
      }
    }

    &.grayscale {
      .flag-item-wrap {
        .flag-img-wrap{
          img {
            filter: gray; /* IE6-9 */
            filter: grayscale(1); /* Firefox 35+ */
            -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */

            &:hover {
              filter: none;
              -webkit-filter: grayscale(0);
            }
          }
        }
      }
    }

  }


  .flag-item-wrap {
    display: block;
    float: left;
    width: 5%;
    min-height: 60px;

    .flag-img-wrap {
      display: block;
      position: relative;
      height: 60px;
      font: 0/0 a;
      padding: 0;
      margin:0.5rem 0.5rem 0 0.5rem;
      text-align: center;

      &.flag-img-wrap-inverted-ratio {
        img {
          width: 70%;
          min-width: inherit;
          max-width: inherit;
        }
      }

      &.flag-img-wrap-even-ratio {
        img {
          width: 85%;
          min-width: inherit;
          max-width: inherit;
        }
      }

      &.flag-img-wrap-no-border {
        img {
          border-color: transparent !important;
        }

      }

      &:before{
        content: ' ';
        display: inline-block;
        vertical-align: middle;  /* vertical alignment of the inline element */
        height: 100%;
      }

      .flag-border {
        border:2px solid rgba(241, 241, 241, 0.16)
      }

      img {
        display: inline-block;
        min-width: 100%;
        max-width: 100%;
        height: auto;
        vertical-align: middle;  /* vertical alignment of the inline element */
        font: 16px/1 Arial sans-serif;        /* <-- reset the font property */
        border-width: 1px;
        border-style: solid;
        border-color: rgba(241, 241, 241, 0.16);
      }
    }

  }

  .flag-title-wrap {
    display: none;
    text-align: center;
    color:rgba(255, 255, 255, 0.4);
    font-size: 0.6rem;
  }
}

.flag-wrap {}